<!---->
<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>

  {{>navbar}}


  

<div class="container-fluid main-header" >
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">

        <!--search bar-->
      <div class="hero" data-bg-image="images/3.jpeg" style="background-image: url(images/3.jpeg);">
				<div class="container">
					<form action="#" class="find-location">
						<input type="text"  id="cityname" placeholder="Find your location...">
						<input type="submit" value="Find" id="submitbtn">
					</form>

				</div>
			</div>
        <!--search bar-->
      

    <!--TEMPERATURE TABLE START-->
      <div class="forecast-table">
				<div class="container">
					<div class="forecast-container">
						<div class="today forecast">
							<div class="forecast-header">
								<div class="day" id="day">Monday</div>
								<div class="date" id="date">6 Oct</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="location"  id="city_name"><!--Bhopal--></div>
								<div class="degree collapse">
									<div class="num" id="temp"><span id="temp_real">23</span><sup>o</sup>C</div>
									<span id="temp_status"><i class="fa-solid fa-cloud fa-2xl"  tyle="color: #74C0FC;"></i></span>
								</div>
								<span class="collapse"><img src="images/icon-umberella.png" alt="">20%</span>
								<span class="collapse"><img src="images/icon-wind.png" alt="">18km/h</span>
								<span class="collapse"><img src="images/icon-compass.png" alt="">East</span>
							</div>
						</div>
						
					</div>
				</div>
			</div>
      <!--TEMPERATURE TABLE START-->

    </div>
  </div>
</div>
  
  <!--footer start-->

  {{>footer}}
    
    <!--footer end-->

    <script src="js/main.js"></script>

<script>

	const getcurrday = ()=> {
		var weekday = new Array(7);
		weekday[0] = "Sunday";
		weekday[1] = "Monday";
		weekday[2] = "Tuesday";
		weekday[3] = "Wednesday";
		weekday[4] = "Thursday";
		weekday[5] = "Friday";
		weekday[6] = "Saturday";

		let currenttime = new Date();
		days = weekday[currenttime.getDay()];
		let day =  document.getElementById("day");
		day.innerText = days;
	};

	getcurrday();
</script>

<script>

	const getcurrdate = () =>{
		var months = [
		"Jan";
		"Feb";
		"March";
		"April";
		"May";
		"June";
		"July";
		"Aug";
		"Sep";
		"Oct";
		"Nov";
		"Dec";
		];

		var now = new Date();
		var month = months[now.getMonth()];

		var dates = now.getDate();

		var datess = month;

		date.innerText = datess;
	};
	getcurrdate();
</script>

</body>
</html>
